body {
  font-family: Arial, sans-serif;
  background-color: #f2efef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #ffffff;
  padding: 20px;
}

.calculator-container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #ffffff;
  font-weight: 600;
}

label {
  display: block;
  margin: 12px 0 6px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0ea900;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333333;
}

.result {
  margin-top: 20px;
  background-color: #111111;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #333333;
  color: #dcdcdc;
  font-size: 20px;
}

#simulationCanvas {
  margin-top: 20px;
  background-color: #222222;
  border: 1px solid #555555;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .calculator-container {
    padding: 15px 20px;
  }
  button {
    padding: 10px;
  }
  .result {
    font-size: 18px;
  }
}
